task:
  name: "modular_arithmetic"
  task_kwargs:
    p: 97
    task: "add5"
    split_ratio: 0.5
    seq_len: 5

model:
  type: "decoder"
  activation: "gelu"
  dim: 128
  num_layers: 1
  num_heads: 4
  model_kwargs:
    num_tokens: none
    max_len: none

optimizer:
  base_optimizer: "AdamW"
  loss: "CE"
  name: none
  lr: 0.0001
  wd: 1
  beta1: 0.9
  beta2: 0.98
  optimizer_kwargs:
    rho: 0.05
    nsm_sigma: 0.01
    distribution: normal

train:
  budget: 2000000
  hessian_log_every: 0
  hessian_log_size: 1000
  batch_size: 512
  converge_threshold: 0.999
  loss_converge_threshold: 0.1
  seed: 1

logger:
  dir: "./logs/results_logs"
  save_every: 20
