task:
  name: "modular_arithmetic"
  task_kwargs:
    p: 97
    task: "quad1"
    num_input_numbers: 3
    num_total_samples: 1000000
    train_ratio: 0.8
    valid_ratio: 0.01
    split_ratio: 0.0
    seq_len: 7

    num_samples_for_neighbors: 0

model:
  type: "decoder"
  activation: "gelu"
  dim: 128
  num_layers: 2
  num_heads: 4
  model_kwargs:
    num_tokens: none
    max_len: none

optimizer:
  base_optimizer: "AdamW"
  loss: "CE"
  name: none
  lr: 0.001
  wd: 0.0001
  beta1: 0.9
  beta2: 0.98
  optimizer_kwargs:
    rho: 0.05
    nsm_sigma: 0.01
    distribution: normal
  dropout_p: 0.0
  device: 1

train:
  budget: 1000000
  hessian_log_every: 0
  hessian_log_size: 1000
  batch_size: 512
  converge_threshold: 0.999
  seed: 5

logger:
  dir: "./logs/results_logs"
  save_every: 300